@import "./variables.css";

.outer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.inner {
  background-color: var(--saltMidight);
  border: 1px solid seashell;
  color: seashell;
  padding: 30px;
}

.form-label {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.input-box {
  background-color: var(--saltMidight);
  border: 1px solid seashell;
  border-radius: 3px;
  color: seashell;
  margin: 10px 0;
  padding: 10px;
}

.spent-btns {
  display: flex;
  margin: 10px 0;
}

.spent-btns > button {
  flex-grow: 1;
}