@import "./variables.css";
@import "./formStyles.css";

body {
  background-color: var(--saltMidight);
  color: seashell;
  font-family: 'Lexend', sans-serif;
}

header {
  margin: 20px 0 0 50px;
}

.salt-logo {
  width: 100px;
  height: 20px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
}

.controller-btns {
  display: flex;
  justify-content: space-between;
  min-width: 200px;
}

.btn {
  background-color: var(--saltMidight);
  border: 1px solid seashell;
  color: seashell;
  padding: 10px;
}

.highlight {
  background-color: var(--saltAqua);
  color: var(--saltMidight);
  border: none;
}

.btn:hover {
  cursor: pointer;
}

