@import "./variables.css";

.outer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.middle-ctr {
  display: flex;
  flex-direction: row;
}
.inner {
  background-color: var(--saltMidight);
  border: 1px solid seashell;
  color: seashell;
  padding: 30px 50px;
  font-size: 14px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-label {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.input-box {
  background-color: var(--saltMidight);
  border: 1px solid seashell;
  border-radius: 3px;
  color: seashell;
  margin: 10px 0;
  padding: 10px;
}

.spent-btns {
  display: flex;
  margin: 10px 0;
}

.spent-btns > button {
  flex-grow: 1;
}

.submit-btn {
  align-self: center;
  margin-top: 20px;
}

.submit-btn:hover {
  background-color: var(--saltAqua);
  color: var(--saltMidight);
}